* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
}

/* header section */
.container {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 20rem;
}
.header {
  background-image: url("./images/wave.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  
}

.logo {
  width: 100px;
  height: 100px;
  padding-top: -2rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav a {
  color: rgb(14, 14, 54);
  text-decoration: none;
  padding: 2.5rem;
}

nav i {
  color: rgb(14, 14, 54);
  text-decoration: none;
  padding: 2.5rem;
  animation: i 2s forwards;
}
@keyframes i {
  0% {
    left: -10rem;
  }
  100% {
    left: -0.1rem;
  }
}

.head-icon i {
  font-size: 1.8rem;
  margin: 1.4rem;
  color: #9c47fc;
  display: flex;
  background: -webkit-linear-gradient(#6b0ed4, #be78cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.girl {
  height: 30rem;
  max-width: 100%;
  position: relative;
  top: -5rem;
  opacity: 0;
  animation: girl 2s 2s forwards;
}
@keyframes girl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a:hover {
  text-decoration: underline #fff;
}
i:hover {
  font-size: 2rem;
  cursor: pointer;
}
.box {
  display: flex;
  padding: 8px;
}

/* button  section*/
.btn:hover {
  background-position: right center;
}

.btn {
  background-image: linear-gradient(
    to right,
    #cc95c0 0%,
    #dbd4b4 51%,
    #cc95c0 100%
  );
  margin: 0.6rem;
  padding: 0.6rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 0.8rem;
  display: block;
  height: 2.7rem;
  border: none;
  position: relative;
  top: 2rem;
  left: 11rem;
  opacity: 0;
  cursor: pointer;
  animation: btn 2s 2s forwards;
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.head {
  font-size: 3.6rem;
  position: relative;
  top: 10rem;
  left: -1.5rem;
  color: rgb(118, 57, 33);
  animation: heading 2s forwards;
}
@keyframes heading {
  0% {
    top: -5rem;
  }
  100% {
    top: 6rem;
  }
}

/* end of header styling */

/* collection */
.collection{
  display: flex;
  flex-direction: column;
}
.user {
  background-color: rgb(33, 13, 78);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  height: 50px;
}

.img-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 2.3rem;
  padding-top: 20px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #96b9d6, #533496);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.img1,
.img2,
.img3 {
  padding: 1rem;
  margin: 1rem;
  height: 60vh;
  transition-property: all;
  transition-duration: 1s;
}

/* .img3 {
  width: 50vw;
  margin: 2.4rem;
} */
/*
.img2 {
  position: relative;
  left: 2.5rem;
} */
.img1:hover,
.img2:hover,
.img3:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgb(152, 147, 147);
  border-radius: 0.6rem;
  transform: rotateY(180deg);
}

/* category section */
.outfit1,
.outfit2,
.outfit3,
.outfit4 {
  height: 18.7rem;
  width: 15.6rem;
  display: flex;
}
.box2 {
  width: 90%;
  padding: 5rem;
  margin: 6.2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.outfits {
  display: flex;
  width: 225vw;
  margin: 0 4.3rem;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0, 0.1);
  transition: 1.5s;
}
.outfits img {
  display: block;
  width: 100%;
}
.outfit1:hover,
.outfit2:hover,
.outfit3:hover,
.outfit4:hover {
  transform: scale(1.3);
  z-index: 2;
  cursor: pointer;
}
.box3 {
  display: flex;
  padding: 0.6rem;
}
.box3 h2 {
  padding: 0.3rem;
  margin: 1.7rem;
  position: relative;
  top: -10rem;
  left: 10rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}
/* outfit section end */

/* About section section */

.about {
  max-height: 45vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#brand {
  padding: 0.6rem;
  margin: 1rem;
  font-size: 3.4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;

  color: rgb(146, 121, 100);
}
#tagline {
  color: rgb(5, 5, 5);
  font-size: 1.7rem;
  padding: 0.6rem;
  margin: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}


.about h1, .content h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: 0.6rem;
  margin: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.para {
  height: 45vh;
  margin-bottom: 8rem;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0, 0.1);
  transition: 2s;
}
.para:hover {
  background: linear-gradient(
    0deg,
    rgba(33, 199, 201, 1) 2%,
    rgba(151, 190, 236, 1) 50%,
    rgba(228, 195, 233, 1) 90%
  );
  color: white;
}
p {
  padding: 2rem;
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 500;
  text-align: center;
}
/* footer section */
.footer {
  background-color: rgb(41, 40, 40);
  max-height: 500px;
}
.content {
  display: flex;
}
footer h3 {
  color: white;
  font-size: large;
  padding: 1rem;
  margin: 2.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  position: relative;
  left: 20rem;
}
footer h3::before {
  content: "";
  position: absolute;
  left: 1.2rem;
  bottom: -0.6rem;
  background-color: rgb(121, 62, 62);
  height: 0.12rem;
  box-sizing: border-box;
  width: 4rem;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.link-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-icon {
  display: flex;
  flex-direction: row;
}

.links4 {
  display: flex;
  flex-direction: column;
}


.icon {
  display: flex;
  flex-direction: column;
}

div.icon i {
  padding-bottom: 10px;
}
.link {
  display: flex;
  flex-direction: column;
}
/* #link1,
#link2,
#link3,
#link4,#link5,#link6, #link7, #link8, #link9, #link10,  {
  color: rgb(182, 182, 182);
  text-decoration: none;
  padding: 1rem;
} */
a {
  color: rgb(182, 182, 182);
  text-decoration: none;
  padding: 1rem;
}

div a:hover{
  color: #fff;
  text-decoration: none;
}
/* #link1:hover,
#link2:hover,
#link3:hover,
#link4:hover,
#link5:hover,
#link6:hover,
#link7:hover,
#link8:hover {
  color: #fff;
} */

/* #link5,
#link6,
#link7,
#link8 {
  color: rgb(182, 182, 182);
  text-decoration: none;
  padding: 0.6rem;
  margin: 0.6rem;
  overflow: hidden;
} */
/* #link9,
#link10,
#link11,
#link12 {
  display: block;
  color: rgb(182, 182, 182);
  text-decoration: none;
  padding: 0.6rem;
  margin: 0.6rem;
  left: 55.3rem;
  top: -24.2rem;
  overflow: hidden;
} */
/* #link9:hover,
#link10:hover,
#link11:hover,
#link12:hover,
#link13:hover,
#link14:hover,
#link15:hover {
  color: white;
}
#link13,
#link14,
#link15 {
  color: rgb(182, 182, 182);
  text-decoration: none;
} */
#twitter,
#insta,
#fb {
  font-size: 20px;
  color: #fff;
}
#twitter:hover,
#insta:hover,
#fb:hover {
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
